<div class="bookListing">
  <div class="listing-icon">
    <i class="fas fa-book"></i>
  </div>
  <div class="listing-content">
    <div class="listing-text">
      <p class="book-title content-text">Book Title: {{bookTitle}}</p>
      <p class="book-class content-text">Class: {{bookClass}}</p>
      {{#if is_listing}}
      <p class="book-condition content-text">Condition: {{bookCondition}}</p>
      <p class="book-price content-text">Price: ${{bookPrice}}</p>
      {{/if}}
      <p class="contact content-text">Contact: {{contact}}</p>
    </div>
    <img class="book-img" src="{{url}}" />
    {{#if is_personal_post}}
    <button type="button" class="deletePostButton">Delete Post</button>
    {{/if}}
  </div>
</div>
